<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lingdaoyi.cloud.mapper.GoodsSponsorMapper" >
  <resultMap id="BaseResultMap" type="com.lingdaoyi.cloud.entity.GoodsSponsor" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="brief" property="brief" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="images" property="images" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="country_id" property="countryId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="workTime" property="worktime" jdbcType="VARCHAR" />
    <result column="reign" property="reign" jdbcType="VARCHAR" />
    <result column="fullName" property="fullname" jdbcType="VARCHAR" />
    <result column="sponsorType" property="sponsortype" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="detailHtmlUrl" property="detailhtmlurl" jdbcType="VARCHAR" />
    <result column="webSite" property="website" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="gps" property="gps" jdbcType="VARCHAR" />
    <result column="bdID" property="bdid" jdbcType="BIGINT" />
    <result column="createrId" property="createrid" jdbcType="BIGINT" />
    <result column="perPrice" property="perprice" jdbcType="VARCHAR" />
    <result column="reminder" property="reminder" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="detail" property="detail" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>