<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lingdaoyi.cloud.mapper.OrderInfoMapper" >
  <resultMap id="OrderInfotMap" type="com.lingdaoyi.cloud.entity.OrderInfo" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="orderNum" property="ordernum" jdbcType="VARCHAR" />
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="customerName" property="customername" jdbcType="VARCHAR" />
    <result column="customerPhone" property="customerphone" jdbcType="VARCHAR" />
    <result column="sponsor_id" property="sponsorId" jdbcType="BIGINT" />
    <result column="sponsorName" property="sponsorname" jdbcType="VARCHAR" />
    <result column="sponsorFullName" property="sponsorfullname" jdbcType="VARCHAR" />
    <result column="sponsorPhone" property="sponsorphone" jdbcType="VARCHAR" />
    <result column="sponsorNumber" property="sponsornumber" jdbcType="VARCHAR" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="goodsName" property="goodsname" jdbcType="VARCHAR" />
    <result column="goodsUrl" property="goodsurl" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="orderTotal" property="ordertotal" jdbcType="DECIMAL" />
    <result column="receivableTotal" property="receivabletotal" jdbcType="DECIMAL" />
    <result column="postage" property="postage" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="recipient" property="recipient" jdbcType="VARCHAR" />
    <result column="payTime" property="paytime" jdbcType="TIMESTAMP" />
    <result column="verificationCode" property="verificationcode" jdbcType="VARCHAR" />
    <result column="unPayFailureTime" property="unpayfailuretime" jdbcType="TIMESTAMP" />
    <result column="refundReason" property="refundreason" jdbcType="VARCHAR" />
    <result column="refundTime" property="refundtime" jdbcType="TIMESTAMP" />
    <result column="verificationType" property="verificationtype" jdbcType="INTEGER" />
    <result column="verificationTime" property="verificationtime" jdbcType="TIMESTAMP" />
    <result column="country_id" property="countryId" jdbcType="INTEGER" />
    <result column="channel" property="channel" jdbcType="INTEGER" />
    <result column="gps" property="gps" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>